## 1. Feb 15, 2019 04:30PM을 a에 이대로 입력하여 변수를 만드시오
## 같은 방법으로 Feb 15, 2020 04:30PM을 b에 입력하시오
## 둘다 형태는 Timestamp가 되도록 만드시오

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

## 2. a부터 b까지 월 마지막날, 시각은 자정에 맞춰서 dats를 만드시오. 
## (dtype은 datetime[ns]가 나와야 합니다)

DatetimeIndex(['2019-02-28', '2019-03-29', '2019-04-30', '2019-05-31',
               '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30',
               '2019-10-31', '2019-11-29', '2019-12-31', '2020-01-31'],
              dtype='datetime64[ns]', freq='BM')

## 3. 같은 기간으로 빈도를 매월 2째주 월요일로 불러오시오

[Timestamp('2019-03-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-04-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-05-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-06-10 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-07-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-08-12 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-09-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-10-14 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-11-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-12-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-01-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-02-10 16:30:00', freq='WOM-2MON')]

## 4. timestamp를 index로 갖는 데이터프레임 ts를 생성하시오(1000개의 난수 생성, 5개의 열 생성)
## 열이름은 a,b,c,d,e
## a부터 기간 시작

                            a         b         c         d         e
2019-02-28 16:30:00 -0.784697  0.291520 -0.242685  0.810503  0.692400
2019-03-31 16:30:00 -0.635099  0.945300  0.573780 -0.271878 -2.022657
2019-04-30 16:30:00 -0.957126  1.789995 -1.675758 -1.533451 -1.128091
2019-05-31 16:30:00  0.904956  0.402608  0.559539  1.644911 -1.002765
2019-06-30 16:30:00 -0.643599 -0.517871 -0.640880 -0.980170 -0.331561
...                       ...       ...       ...       ...       ...
2102-01-31 16:30:00  1.340571 -1.737964  0.784243  1.579250 -0.057597
2102-02-28 16:30:00 -0.800035 -0.490235 -0.859071 -1.556009  0.238386
2102-03-31 16:30:00  0.820263 -0.247826  0.599750  1.155075  0.818586
2102-04-30 16:30:00  2.131630  0.969587 -1.701675  1.056053 -0.228974
2102-05-31 16:30:00  1.547639 -0.475202 -1.040459  0.616749  0.723269

[1000 rows x 5 columns]

## 4-1 2개월별로 평균을 구하며 downsampling하시오

                   a         b         c         d         e
2019-02-28 -0.784697  0.291520 -0.242685  0.810503  0.692400
2019-04-30 -0.796113  1.367648 -0.550989 -0.902664 -1.575374
2019-06-30  0.130679 -0.057632 -0.040671  0.332370 -0.667163
2019-08-31 -0.104589 -0.226019  0.070246  1.466946  0.809403
2019-10-31 -1.480335  0.003253  1.672129  0.022742  0.721817
...              ...       ...       ...       ...       ...
2101-10-31 -0.250133 -0.044349 -0.730495  0.307656 -0.662457
2101-12-31  0.155346  0.753663 -0.295307 -0.150521  0.580230
2102-02-28  0.270268 -1.114100 -0.037414  0.011620  0.090395
2102-04-30  1.475947  0.360880 -0.550963  1.105564  0.294806
2102-06-30  1.547639 -0.475202 -1.040459  0.616749  0.723269

[501 rows x 5 columns]

## 4-2. 뒤에서 나올 데이터를 쓰며 upsampling하시오 (15일 간격으로)

                   a         b         c         d         e
2019-02-28 -0.784697  0.291520 -0.242685  0.810503  0.692400
2019-03-15 -0.635099  0.945300  0.573780 -0.271878 -2.022657
2019-03-30 -0.635099  0.945300  0.573780 -0.271878 -2.022657
2019-04-14 -0.957126  1.789995 -1.675758 -1.533451 -1.128091
2019-04-29 -0.957126  1.789995 -1.675758 -1.533451 -1.128091
...              ...       ...       ...       ...       ...
2102-03-30  0.820263 -0.247826  0.599750  1.155075  0.818586
2102-04-14  2.131630  0.969587 -1.701675  1.056053 -0.228974
2102-04-29  2.131630  0.969587 -1.701675  1.056053 -0.228974
2102-05-14  1.547639 -0.475202 -1.040459  0.616749  0.723269
2102-05-29  1.547639 -0.475202 -1.040459  0.616749  0.723269

[2028 rows x 5 columns]

## 5. index를 월단위 기간, 그리고 데이터는 평균으로 리샘플하여 tsm에 저장하시오

                a         b         c         d         e
2019-02 -0.784697  0.291520 -0.242685  0.810503  0.692400
2019-03 -0.635099  0.945300  0.573780 -0.271878 -2.022657
2019-04 -0.957126  1.789995 -1.675758 -1.533451 -1.128091
2019-05  0.904956  0.402608  0.559539  1.644911 -1.002765
2019-06 -0.643599 -0.517871 -0.640880 -0.980170 -0.331561
...           ...       ...       ...       ...       ...
2102-01  1.340571 -1.737964  0.784243  1.579250 -0.057597
2102-02 -0.800035 -0.490235 -0.859071 -1.556009  0.238386
2102-03  0.820263 -0.247826  0.599750  1.155075  0.818586
2102-04  2.131630  0.969587 -1.701675  1.056053 -0.228974
2102-05  1.547639 -0.475202 -1.040459  0.616749  0.723269

[1000 rows x 5 columns]

## 5-1. 데이터의 index가 unique한지 확인하시오 그리고 new_tsm에 연도별 평균으로 리샘플링한 것을 저장하시오 Na값은 0을 넣도록 하시오

True

C:\Users\danan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

             a         b         c         d         e
2019 -0.826873  0.134589 -0.017799  0.562489 -0.237505
2020 -0.013801  0.602352  0.277175 -0.626767  0.287590
2021  0.165663  0.184112  0.037991 -0.481760  0.250601
2022  0.067637 -0.074668  0.329134  0.147295  0.199501
2023  0.021236  0.025554  0.210324 -0.553397  0.016505
...        ...       ...       ...       ...       ...
2098  0.012713  0.055831  0.155030  0.021618  0.163789
2099  0.499101  0.051494 -0.774452  0.304218  0.122724
2100  0.291075  0.199890  0.210051  0.033902  0.165082
2101 -0.126872  0.246383  0.095984 -0.096203 -0.277448
2102  1.008014 -0.396328 -0.443442  0.570224  0.298734

[84 rows x 5 columns]

## 5-2. new_tsm 데이터를 12월을 연도마감으로하는 분기 주기를 계산하세요

               a         b         c         d         e
2019Q1 -0.826873  0.134589 -0.017799  0.562489 -0.237505
2019Q2 -0.826873  0.134589 -0.017799  0.562489 -0.237505
2019Q3 -0.826873  0.134589 -0.017799  0.562489 -0.237505
2019Q4 -0.826873  0.134589 -0.017799  0.562489 -0.237505
2020Q1 -0.013801  0.602352  0.277175 -0.626767  0.287590
...          ...       ...       ...       ...       ...
2101Q4 -0.126872  0.246383  0.095984 -0.096203 -0.277448
2102Q1  1.008014 -0.396328 -0.443442  0.570224  0.298734
2102Q2  1.008014 -0.396328 -0.443442  0.570224  0.298734
2102Q3  1.008014 -0.396328 -0.443442  0.570224  0.298734
2102Q4  1.008014 -0.396328 -0.443442  0.570224  0.298734

[336 rows x 5 columns]