## 1. Feb 15, 2019 04:30PM을 a에 이대로 입력하여 변수를 만드시오
## 같은 방법으로 Feb 15, 2020 04:30PM을 b에 입력하시오
## 둘다 형태는 Timestamp가 되도록 만드시오

In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

In [2]:
a = pd.to_datetime(parse('Feb 15, 2019 04:30PM'))
b  = pd.to_datetime(parse('Feb 15, 2020 04:30PM'))

## 2. a부터 b까지 월 마지막날, 시각은 자정에 맞춰서 dats를 만드시오. 
## (dtype은 datetime[ns]가 나와야 합니다)

In [3]:
dats = pd.date_range(a,b,freq='BM', normalize=True)
dats

DatetimeIndex(['2019-02-28', '2019-03-29', '2019-04-30', '2019-05-31',
               '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30',
               '2019-10-31', '2019-11-29', '2019-12-31', '2020-01-31'],
              dtype='datetime64[ns]', freq='BM')

## 3. 같은 기간으로 빈도를 매월 2째주 월요일로 불러오시오

In [4]:
dats = pd.date_range(a,b,freq='WOM-2MON')

In [5]:
list(dats)

[Timestamp('2019-03-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-04-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-05-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-06-10 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-07-08 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-08-12 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-09-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-10-14 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-11-11 16:30:00', freq='WOM-2MON'),
 Timestamp('2019-12-09 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-01-13 16:30:00', freq='WOM-2MON'),
 Timestamp('2020-02-10 16:30:00', freq='WOM-2MON')]

## 4. timestamp를 index로 갖는 데이터프레임 ts를 생성하시오(1000개의 난수 생성, 5개의 열 생성)
## 열이름은 a,b,c,d,e
## a부터 기간 시작

In [6]:
ts = pd.DataFrame(np.random.randn(1000,5),
              index=pd.date_range(a,periods=1000, freq='M'),
                 columns = ['a','b','c','d','e'])
ts

                            a         b         c         d         e
2019-02-28 16:30:00 -1.179976  0.100432  0.981301 -0.582997 -0.684376
2019-03-31 16:30:00  0.244497 -1.847891 -0.489738  0.932235 -1.037834
2019-04-30 16:30:00  0.854276  0.838369 -0.279912 -0.096529  0.536576
2019-05-31 16:30:00  1.814083  1.675467  0.928628 -0.204893 -0.169961
2019-06-30 16:30:00 -0.628681 -1.413725  0.848272 -1.295693  0.496903
...                       ...       ...       ...       ...       ...
2102-01-31 16:30:00  0.990244 -0.983860  1.651796  0.237750  0.631969
2102-02-28 16:30:00  0.014096  0.076246 -1.214762 -0.539921 -0.283992
2102-03-31 16:30:00  0.178188 -0.023352 -1.037825  1.517681  0.525505
2102-04-30 16:30:00  2.115463  0.626035 -1.295931  0.431172  0.205369
2102-05-31 16:30:00 -0.430392  0.800013 -0.843083  0.565659 -0.266174

[1000 rows x 5 columns]

## 4-1 2개월별로 평균을 구하며 downsampling하시오

In [7]:
ts.resample('2M').mean()

                   a         b         c         d         e
2019-02-28 -1.179976  0.100432  0.981301 -0.582997 -0.684376
2019-04-30  0.549386 -0.504761 -0.384825  0.417853 -0.250629
2019-06-30  0.592701  0.130871  0.888450 -0.750293  0.163471
2019-08-31 -0.116293 -0.579867  1.043302 -0.335229 -0.065718
2019-10-31 -0.471727 -0.246735  0.170244 -0.573481 -0.099947
...              ...       ...       ...       ...       ...
2101-10-31  0.692705 -1.245337  0.772203  0.158007 -1.326262
2101-12-31 -0.604564  1.046933 -0.504659 -0.782677 -0.564162
2102-02-28  0.502170 -0.453807  0.218517 -0.151085  0.173988
2102-04-30  1.146826  0.301342 -1.166878  0.974426  0.365437
2102-06-30 -0.430392  0.800013 -0.843083  0.565659 -0.266174

[501 rows x 5 columns]

## 4-2. 뒤에서 나올 데이터를 쓰며 upsampling하시오 (15일 간격으로)

In [8]:
ts.resample('15D').bfill()

                   a         b         c         d         e
2019-02-28 -1.179976  0.100432  0.981301 -0.582997 -0.684376
2019-03-15  0.244497 -1.847891 -0.489738  0.932235 -1.037834
2019-03-30  0.244497 -1.847891 -0.489738  0.932235 -1.037834
2019-04-14  0.854276  0.838369 -0.279912 -0.096529  0.536576
2019-04-29  0.854276  0.838369 -0.279912 -0.096529  0.536576
...              ...       ...       ...       ...       ...
2102-03-30  0.178188 -0.023352 -1.037825  1.517681  0.525505
2102-04-14  2.115463  0.626035 -1.295931  0.431172  0.205369
2102-04-29  2.115463  0.626035 -1.295931  0.431172  0.205369
2102-05-14 -0.430392  0.800013 -0.843083  0.565659 -0.266174
2102-05-29 -0.430392  0.800013 -0.843083  0.565659 -0.266174

[2028 rows x 5 columns]

## 5. index를 월단위 기간, 그리고 데이터는 평균으로 리샘플하여 tsm에 저장하시오

In [9]:
tsm = ts.resample('M',kind='period').mean()
tsm

                a         b         c         d         e
2019-02 -1.179976  0.100432  0.981301 -0.582997 -0.684376
2019-03  0.244497 -1.847891 -0.489738  0.932235 -1.037834
2019-04  0.854276  0.838369 -0.279912 -0.096529  0.536576
2019-05  1.814083  1.675467  0.928628 -0.204893 -0.169961
2019-06 -0.628681 -1.413725  0.848272 -1.295693  0.496903
...           ...       ...       ...       ...       ...
2102-01  0.990244 -0.983860  1.651796  0.237750  0.631969
2102-02  0.014096  0.076246 -1.214762 -0.539921 -0.283992
2102-03  0.178188 -0.023352 -1.037825  1.517681  0.525505
2102-04  2.115463  0.626035 -1.295931  0.431172  0.205369
2102-05 -0.430392  0.800013 -0.843083  0.565659 -0.266174

[1000 rows x 5 columns]

## 5-1. 데이터의 index가 unique한지 확인하시오

In [10]:
tsm.index.is_unique

True

In [11]:
new_tsm = tsm.resample('Y', how=np.mean).fillna(0)
new_tsm

C:\Users\danan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

             a         b         c         d         e
2019  0.017035 -0.443792  0.179111 -0.364262 -0.144738
2020  0.106728  0.069639 -0.144123  0.342673  0.782949
2021  0.056009  0.271842  0.111214  0.474497  0.114306
2022  0.147853 -0.285388  0.239674 -0.280852 -0.177431
2023  0.257396  0.015591 -0.282121  0.412411  0.051282
...        ...       ...       ...       ...       ...
2098 -0.353551  0.312850 -0.440066  0.526871  0.565943
2099  0.258412  0.033282 -0.462424  0.146777  0.038573
2100 -0.158862 -0.274510  0.254194  0.047589 -0.355833
2101  0.197431 -0.343930  0.474628 -0.042971 -0.463464
2102  0.573520  0.099016 -0.547961  0.442468  0.162535

[84 rows x 5 columns]

## 5-2. new_tsm 데이터를 12월을 연도마감으로하는 분기 주기를 계산하세요

In [12]:
new_tsm.resample('Q-DEC').ffill()

               a         b         c         d         e
2019Q1  0.017035 -0.443792  0.179111 -0.364262 -0.144738
2019Q2  0.017035 -0.443792  0.179111 -0.364262 -0.144738
2019Q3  0.017035 -0.443792  0.179111 -0.364262 -0.144738
2019Q4  0.017035 -0.443792  0.179111 -0.364262 -0.144738
2020Q1  0.106728  0.069639 -0.144123  0.342673  0.782949
...          ...       ...       ...       ...       ...
2101Q4  0.197431 -0.343930  0.474628 -0.042971 -0.463464
2102Q1  0.573520  0.099016 -0.547961  0.442468  0.162535
2102Q2  0.573520  0.099016 -0.547961  0.442468  0.162535
2102Q3  0.573520  0.099016 -0.547961  0.442468  0.162535
2102Q4  0.573520  0.099016 -0.547961  0.442468  0.162535

[336 rows x 5 columns]